.coin {
  display: flex;
  flex-direction: column;
}

.coin__header {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;;
}

.coin__title {
  align-items: center;
  display: flex;
  font-size: 3.2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;

  span.coin__symbol {
    color: $surface16;
    display: inline-block;
    font-size: 1.8rem;
    margin-left: 20px;
  }
}

.coin__price {
  font-size: 3.2rem;
  font-weight: 600;
  margin-left: 10rem;

  span.coin__currency {
    font-size: 2.8rem;
    font-weight: 300;
  }
}

.coin__favorite {
  margin-left: auto;
}

.coin__wrapper {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.coin__main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

.coin__chart {
  margin-bottom: 40px;
}

.coin__details {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.coin__aside {

}
