.footer {
  align-items: center;
  color: $surface12;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 4rem;
  padding: 4rem 0;

  div {
    margin-left: 4rem;
  }

  a {
    color: $surface12;
    transition: color .2s;

    &:hover {
      color: lighten($primary, 14%);
    }
  }
}