.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 1.6rem 0;
}

.header__title {
  font-family: 'Ubuntu';
  font-size: 3.6rem;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: $on-surface;
  font-size: 1.8rem;
  margin-left: 40px;
  padding-bottom: .6rem;
  text-decoration: none;
  transition: color .2s;

  &:hover {
    color: lighten($primary, 14%);
  }
}

.nav__link--active {
  border-bottom: .2rem solid $primary;
}