.index {
  margin-bottom: 60px;
}

.index-header {
  align-items: flex-end;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  margin-bottom: .6rem;

  h2 {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-breakpoint) {
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
  }
}

.table-header {
  background-color: $surface1;
  border: .1rem solid $surface;
  color: $surface24;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 1.8rem;

  @media (min-width: $tablet-breakpoint) {
    display: grid;
    grid-gap: 1.2rem;
    grid-template-columns: 50px 1fr 100px 125px 100px;
  }
}

.table_header__sort {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;

  svg {
    margin-bottom: .2rem;
  }
}

.table_header__sort--right {
  justify-content: flex-end;
}
