.index {
  margin-bottom: 60px;
}

.index__header {
  background-color: $surface1;
  border: .1rem solid $surface;
  color: $surface24;
  display: grid;
  font-size: 1.4rem;
  font-weight: 400;
  grid-gap: 1.2rem;
  grid-template-columns: 50px 1fr 100px 100px 100px 70px;
  padding: 1.8rem;
}
