.coin-tile {
  @extend .table-header;
  border-top: none;
  color: $on-surface;
  cursor: pointer;
  font-size: 2rem;
  text-decoration: none;
  transition: background-color .2s;

  &:hover {
    background-color: $surface3;
  }

  > * {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }
}

.coin-tile__order {
  justify-content: center;
}

.coin-tile__name {
  overflow: hidden;
  img {
    width: 2.2rem;
    margin-right: 2rem;
  }
  .coin-tile__symbol {
    color: $surface24;
    display: inline-block;
    font-weight: 300;
    margin-left: 2.4rem;
  }
}

.coin-tile__price {
  justify-content: space-between;
}

.coin-tile__change {
  justify-content: flex-end;
}

.coin-tile__cap {
  justify-content: flex-end;
}

.coin-tile__favorite {
  align-items: center;
  display: flex;
  justify-content: center;
}

.fave-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .1rem;
  margin-bottom: 40px;
}

.fave-list--more {
  grid-template-columns: 1fr;
}

.fave-tile {
  @extend .coin-tile;
  align-items: center;
  display: flex;
  font-weight: 400;
  justify-content: space-between;
  outline: none;
  padding: 1.2rem;

  .fave-tile__name {
    @extend .coin-tile__name;
    display: flex;
  
    img, svg {
      width: 3.2rem;
      margin-right: 2rem;
    }
  
    .fave-tile__symbol {
      @extend .coin-tile__symbol;
      margin-left: 1.8rem;
    }
  }
  
  .fave-tile__favorite {
    font-size: 1.8rem;
  
    svg {
      margin-right: 1rem;
      margin-bottom: .1rem;
    }
  }

  &:hover {
    background-color: $surface3;
    color: $on-surface;
  }

  > * {
    pointer-events: none;
  }
}

.fave-tile--remove {

  .fave-tile__name {
  
    img, svg {
      margin-right: 4rem;
    }
  
    .fave-tile__symbol {
      margin-left: 2.4rem;
    }
  }
  
  .fave-tile__favorite {
    visibility: hidden;
  }

  &:hover {
    background-color: $error;
    color: $on-primary;

    .fave-tile__name {

      .fave-tile__symbol {
        color: $surface12;
      }
    }

    .fave-tile__favorite {
      visibility: visible;
    }
  }
}

.fave-tile--add {

  .fave-tile__name {
  
    img, svg {
      margin-right: 4rem;
    }
  
    .fave-tile__symbol {
      margin-left: 2.4rem;
    }
  }
  
  .fave-tile__favorite {
    visibility: visible;
  }

  &:hover {
    background-color: $positive;
    color: $on-primary;

    .fave-tile__name {

      .fave-tile__symbol {
        color: $surface12;
      }
    }
  }
}

.fave-tile--disabled {
  pointer-events: none;
  opacity: 0.4;

  .fave-tile__favorite {
    visibility: hidden;
  }
  
  &:hover {
    background-color: $surface1;
    color: $on-primary;
  }
}
