/* Coin List Tiles */

.coin-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .1rem;
  margin-bottom: 40px;
}

.coin-tile {
  background-color: $surface1;
  border: .1rem solid $surface;
  border-top: none;
  color: $on-surface;
  cursor: pointer;
  display: grid;
  font-size: 2rem;
  font-weight: 400;
  grid-gap: 1.2rem;
  grid-template-columns: 50px 2fr 1fr;
  padding: 1.8rem;
  text-decoration: none;
  transition: background-color .2s;

  @media (min-width: $tablet-breakpoint) {
    grid-template-columns: 50px 25px 1fr 100px 125px 100px;
  }

  &:hover {
    background-color: $surface3;
  }

  > * {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }
}

.coin-tile__order {
  display: none;
  justify-content: center;

  @media (min-width: $tablet-breakpoint) {
    display: flex;
  }
}

.coin-tile__logo {
  margin-right: 2rem;
  
  img {
    width: 3.6rem;

    @media (min-width: $tablet-breakpoint) {
      width: 2.2rem;
    }
  }
}

.coin-tile__name {
  align-items: flex-start;
  overflow: hidden;
  flex-direction: column;

  @media (min-width: $tablet-breakpoint) {
    align-items: center;
    flex-direction: row;
  }
  
  .coin-tile__symbol {
    color: $surface24;
    display: inline-block;
    font-weight: 300;

    @media (min-width: $tablet-breakpoint) {
      margin-left: 2.4rem;
    }
  }
}

.coin-tile__price {
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;

  @media (min-width: $tablet-breakpoint) {
    flex-direction: row;
  }
}

.coin-tile__change {
  display: none;
  justify-content: flex-end;

  @media (min-width: $tablet-breakpoint) {
    display: flex;
  }
}

.coin-tile__cap {
  display: none;
  justify-content: flex-end;

  @media (min-width: $tablet-breakpoint) {
    display: flex;
  }
}

/* Favorite Tiles */

.fave-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .1rem;
  margin-bottom: 40px;

  @media (min-width: $tablet-breakpoint) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  @media (min-width: $large-screen-breakpoint) {
    
  }
}

.fave-list--more {
  grid-template-columns: 1fr;
}

.fave-tile {
  align-items: center;
  background-color: $surface1;
  border: .1rem solid $surface;
  border-top: none;
  color: $on-surface;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
  justify-content: space-between;
  outline: none;
  padding: 1.2rem;
  text-decoration: none;
  transition: background-color .2s;

  .fave-tile__overview {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    text-align: left;

    @media (min-width: $tablet-breakpoint) {
      flex-direction: row;
    }

    .fave-tile__logo {
      align-items: center;

      @media (min-width: $tablet-breakpoint) {
        display: flex;
      }

      img {
        width: 3.2rem;

        @media (min-width: $tablet-breakpoint) {
          margin-right: 2rem;
        }
      }
    }

    .fave-tile__name {
      display: none;
      margin-right: 1.6rem;
      max-width: 13rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      @media (min-width: $tablet-breakpoint) {
        display: flex;
      }
    }

    .fave-tile__symbol {
      color: $surface24;
      font-weight: 300;
    }
  }
  
  .fave-tile__price {
    font-size: 1.8rem;
    margin-left: auto;
  
    svg {
      margin: 0 0 .1rem 0;
      padding-top: .3rem;
    }
  }


  &:hover {
    background-color: $surface3;
    color: $on-surface;
  }

  > * {
    pointer-events: none;
  }
}

.fave-tile--currentFave {
  border: .1rem solid $primary;
}

.fave-tile--remove {

  .fave-tile__overview {
    flex-direction: row;

    .fave-tile__logo {
      margin-right: 1rem;
    }

    .fave-tile__name {
      max-width: 18rem;
      
    }
  }
  
  .fave-tile__price {
    color: $error;

    @media (min-width: $tablet-breakpoint) {
      color: $on-surface;
      visibility: hidden;
    }
  }

  &:hover {
    background-color: $error;
    color: $on-primary;

    .fave-tile__overview {

      .fave-tile__symbol {
        color: $surface12;
      }
    }

    .fave-tile__price {
      visibility: visible;
    }
  }
}

.fave-tile--add {

  .fave-tile__overview {
    flex-direction: row;

    .fave-tile__name {
      max-width: none;
      overflow: visible;
    }

    .fave-tile__logo {
      img, svg {

        @media (min-width: $tablet-breakpoint) {
          margin-left: 2.4rem;
        }
      }
    }
    .fave-tile__symbol {
      font-weight: 300;
      margin-left: 2.4rem;
    }
  }
  
  .fave-tile__price {
    visibility: visible;
  }

  &:hover {
    background-color: $positive;
    color: $on-primary;

    .fave-tile__overview {
      .fave-tile__symbol {
        color: $surface12;
      }
    }
  }
}

.fave-tile--disabled {
  pointer-events: none;
  opacity: 0.4;

  .fave-tile__price {
    visibility: hidden;
  }
  
  &:hover {
    background-color: $surface1;
    color: $on-primary;
  }
}
