:root {
  --surface: #121212;
  --surface1: #1e1e1e;
  --surface2: #252525;
  --surface3: #2c2c2c;
  --surface4: #333333;
  --surface6: #3d3d3d;
  --surface8: #4d4d4d;
  --surface12: #5e5e5e;
  --surface16: #717171;
  --surface24: #888888;
  --surface48: #c4c4c4;
  
  --on-surface: #fff;
  --on-primary: #000;
  
  --primary: #bb86fc;
  --primary-light: #c597fc;
  --primary-variant: #3700b3;
  --secondary: #03dac6;
  
  --error: #cf6679;
  --positive: var(--secondary);  
}
