
$blue-grey900: #263238;
$blue-grey800: #37474F;
$blue-grey700: #455A64;
$blue-grey600: #546E7A;
$blue-grey500: #607D8B;
$blue-grey400: #78909C;
$blue-grey300: #90A4AE;
$blue-grey200: #B0BEC5;
$blue-grey100: #CFD8DC;
$blue-grey50: #ECEFF1;

$on-surface: #fff;
$blue500: #0f4c75;
$blue300: #3282b8;
$blue200: lighten($blue300, 20%);
$blue100: lighten($blue300, 40%);
$off-white: #bbe1fa;
$purple: #6A3DDD;
$yellow: #E6CF55;