$surface: #121212;
$surface1: lighten($surface, 5%);
$surface2: lighten($surface, 8%);
$surface3: lighten($surface, 11%);
$surface4: lighten($surface, 14%);
$surface6: lighten($surface, 18%);
$surface8: lighten($surface, 25%);
$surface12: lighten($surface, 32%);
$surface16: lighten($surface, 40%);
$surface24: lighten($surface, 50%);
$surface48: lighten($surface, 75%);

$on-surface: #fff;
$on-primary: #000;

$primary: #bb86fc;
$primary-variant: #3700b3;
$secondary: #03dac6;

$error: #cf6679;
$positive: $secondary;

$tablet-breakpoint: 45rem;
$desktop-breakpoint: 76.8rem;
$large-screen-breakpoint: 90rem;
