.show-for-mobile {
  @media(min-width: $tablet-breakpoint) {
    display: none;
  }
}

.show-for-desktop {
  @media(max-width: $tablet-breakpoint - .01rem) {
    display: none;
  }
}

.hidden {
  visibility: hidden;
}
